<div class="col-sm-6 masonry__item program" data-tags="<%= search_tags(program) %>">
  <a href="<%= program["url"] %>">
    <div class="card card-4">
      <div class="card__image">
        <img alt="<%= program["name"] %>" src="<%= program["image_url"] %>">
      </div>
      <div class="card__body boxed boxed--sm bg--white">
        <div class="card__title">
          <h4><%= program["name"] %></h4>
          <h6><%= program["industry"] %></h6>
        </div>
        <div class="card__middle">
          <dl>
            <dt>Benefits</dt><dd><%= program["benefits"] %></dt>
            <dt>Mentor Program</dt><dd><%= program["mentor_buddy"] %></dt>
            <dt>Duration</dt><dd><%= program["duration"] %></dt>
            <dt>Employment</dt><dd><%= program["employment"] %></dt>
            <dt>Cohort Size</dt><dd><%= program["cohort_size"] %></dt>
          </dl>
        </div>
        <hr>
        <div class="card__lower">
          <h6>More Information</h6>
          <dl>
            <dt>Company Size</dt><dd><%= program["company_size"] %></dt>
            <dt>Tech Stack</dt><dd><%= program["stack"] %></dt>
            <dt>Curriculum</dt><dd><%= program["curriculum"] %></dt>
            <dt>Requirements</dt><dd><%= program["requirements"] %></dt>
            <dt>Application Period</dt><dd><%= program["application"] %></dt>
          </dl>
        </div>
      </div>
    </div>
  </a>
</div>
