<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 masonry__item program" data-tags="<%= search_tags(program) %>">
  <a href="<%= program["url"] %>">
    <div class="card card-4">
      <div class="card__image" style="border-top-color: <%= program["color"] %>">
        <img alt="<%= program["name"] %> logo" src="assets/<%= program["image_url"] %>">
      </div>
      <div class="card__body boxed boxed--sm bg--white">
        <div class="card__title">
          <h4><%= program["name"] %></h4>
          <h6><%= program["industry"] %></h6>
        </div>
        <div class="card__middle">
          <dl class='row'>
            <dt class='col-lg-6 col-sm-6 col-xs-12'>Benefits</dt><dd class='col-lg-6 col-sm-6 col-xs-12'><%= program["benefits"] %></dd>
            <dt class='col-lg-6 col-sm-6 col-xs-12'>Mentor Program</dt><dd class='col-lg-6 col-sm-6 col-xs-12'><%= program["mentor_buddy"] %></dd>
            <dt class='col-lg-6 col-sm-6 col-xs-12'>Duration</dt><dd class='col-lg-6 col-sm-6 col-xs-12'><%= program["duration"] %></dd>
            <dt class='col-lg-6 col-sm-6 col-xs-12'>Employment</dt><dd class='col-lg-6 col-sm-6 col-xs-12'><%= program["employment"] %></dd>
            <dt class='col-lg-6 col-sm-6 col-xs-12'>Cohort Size</dt><dd class='col-lg-6 col-sm-6 col-xs-12'><%= program["cohort_size"] %></dd>
          </dl>
        </div>
        <hr>
        <div class="card__lower">
          <h6>More Information</h6>
          <dl>
            <dt>Company Size</dt><dd><%= program["company_size"] %></dd>
            <dt>Tech Stack</dt><dd><%= program["stack"] %></dd>
            <dt>Curriculum</dt><dd><%= program["curriculum"] %></dd>
            <dt>Requirements</dt><dd><%= program["requirements"] %></dd>
            <dt>Application Period</dt><dd><%= program["application"] %></dd>
          </dl>
        </div>
      </div>
    </div>
  </a>
</div>
